goverse.localhost {
	tls internal

	root * /usr/share/caddy
	encode gzip
	file_server

	# SPA routing
	@notFound {
		not file
	}
	rewrite @notFound /index.html

	# Segurança
	header {
		X-Content-Type-Options "nosniff"
		X-Frame-Options "DENY"
		X-XSS-Protection "1; mode=block"
	}
	
    # Cache longo APENAS para arquivos estáticos (imagens, fontes, JS compilado)
	@static {
		file
		path *.jpg *.jpeg *.png *.gif *.ico *.js *.css *.svg *.woff *.woff2
	}
	header @static Cache-Control "public, max-age=31536000, immutable"

    # Para o resto (principalmente index.html), não fazer cache ou cache curto
    header / {
        Cache-Control "no-cache"
    }
}